.dropdown {
  display: none;
}

.dropdown-split-button {

  .button {
    position: relative;
    margin-left: 10px;
  }

  .button:before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    top: 35%;
    bottom: 35%;
    left: 0;
    background: rgba($c_fg, 0.3);
    transition: background 0.3s ease;
  }
}

.dropdown-button {
}

.dropdown-button,
.dropdown-split-button {

  $height: 50px;
  height: $height;
  line-height: $height;

  position: relative;

  .button {
    font-size: $font-normal;

    background: none;
    outline: 0;
    border: 0;

    cursor: pointer;

    .icon {
      font-size: 14px;
      margin: 0 0 0 5px;
      color: rgba($c_fg, 0.3);
      transition: color 0.3s ease;
    }

    &:hover {
      $color: rgba($c_fg, 0.7);

      .icon {
        color: $color;
      }

      &:before {
        background: $color;
      }
    }
  }

  > a {
    display: inline-block;
    @extend %truncate;
    max-width: 200px;
    vertical-align: top;

    font-size: $font-normal;
    color: lighten(#fff, 30);
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  &.open ul {
    display: block;
  }

  ul {
    display: none;

    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;

    min-width: 50px;

    margin: 2px 0 0;
    padding: 5px 0;

    background: lighten($c_hd, 15);
    border: 1px solid lighten($c_bg, 20);
  }

  li {
    display: block;
    list-style-type: none;

    &.active a {
      // font-weight: bold;
      color: $c_fg;
    }
  }

  li > a {
    display: block;
    font-size: $font-normal;
    line-height: 21px;
    padding: 5px 10px;
    text-decoration: none;

    color: $c_fr;

    cursor: pointer;

    @extend %truncate;

    &:hover {
      background: lighten($c_hd, 10);
      color: $c_fg;
    }

    .icon {
      margin-left: 10px;
    }
  }

}
