%poster {
  box-shadow: inset 0 0 0 1px rgba(#fff, 0.2), 0 1px 3px 0 rgba(#000, 0.30);
  // border-radius: 2px;

  position: relative;

  background-position: center;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: linear-gradient(to bottom, rgba(#000, 0) 0%, rgba(#000, 0.5) 100%);
    // background: rgba(#000, 0.8);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &.play-only {
    .icon {
      top: 50%;
      left: 50%;
      margin-top: -10px;
      font-size: 50px;
      width: 100px;
      height: 100px;

      &.icon-play {
        margin-top: -50px;
        margin-left: -50px;
      }
      &.icon-plus {
        display: none;
      }
    }
    .overlay {
      background: rgba(#000, 0.5);
    }
  }

  .icon {
    background: none;
    border: 0;
    outline: 0;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;

    text-shadow: 0 0 1px rgba(#000, 1);
    font-size: 20px;

    margin: 0;
    padding: 0;

    $width: 36px;
    width: $width;

    &:hover {
      color: #45BEFC;
    }

    &.icon-play {
      margin-left: ($width/-2) + -20px;
    }

    &.icon-plus {
      margin-left: ($width/-2) + 20px;
    }
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}

@mixin poster($width, $ratio) {
  $height: $width * $ratio;

  width: $width;
  height: $height;

  @extend %poster;
}

