.route-episode {
  position: relative;

  .title-container {
    padding-left: 330px;

    h1 {
      margin-top: -45px;
    }
  }

  .metadata-container {
    padding-left: 370px;
  }

  .poster {
    @include poster(300px, 225/400);
  }

}
