.route-fanart {

  .background {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 200px;
    right: 0;
    background-size: cover;
    background-position: center;

    // filter: blur(5px);
    // background: none !important;

    opacity: 0.3;
    z-index: -1;
  }

}
