.header {

  $height: 50px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;

  height: 50px;
  line-height: 50px;

  border-bottom: 1px solid rgba(#000, 0.07);

  background: #fff;

  .logo {
    float: left;
    width: 200px;
    margin: 0 0 10px 0;

    a {
      display: block;

      background: #11171C;
      color: #ECF0F1;

      text-decoration: none;

      text-transform: uppercase;
      font-family: 'proxima nova soft', sans-serif;
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid rgba(#fff, 0.07);

      &:hover {
        background: lighten(#11171C, 5);
      }
    }
  }

  h2 {
    float: left;
    margin: 0 0 0 20px;

    font-size: 24px;
    font-weight: 400;

    color: #28455D;

  }

  .search {

    float: right;
    margin-right: 20px;

    input {
      $s_height: 30px;

      display: block;
      float: left;

      width: 250px;

      border-radius: $s_height;
      height: $s_height;
      line-height: $s_height;

      padding: 0 10px;
      margin-top: ($height - $s_height) / 2;

      font-size: 13px;

      border: 1px solid #3498db;
      outline: 0;

    }

    ::placeholder {
      font-style: italic;
      color: #3498db;
    }
    
    button {
      float: right;

      background: none;
      border: none;
      color: #3498db;
      margin-left: -40px;
      outline: 0;

      &:hover {
        color: #333;
      }
    }


  }

  .user-settings {
    float: right;
    position: relative;
    margin-right: 10px;

    button {
      $b_height: 50px;

      margin-top: ($height - $b_height) / 2;
      height: $b_height;
      line-height: $b_height;

      background: none;
      // border-radius: 4px;
      outline: 0;
      border: 0;

      margin: 0;
      font-size: 13px;
      color: lighten(#000, 20);

      &:hover {
        background: #F5F5F5;
      }
      &:active {
        background: #E6E6E6;
      }
    }

    [class^=icon-] {
      font-size: 10px;
      margin: 0 10px;
      color: #8C8C8C;
    }

    &:hover {
      .dropdown {
        display: block;
      }
    }

    .dropdown {
      @extend %dropdown;
      right: 0;
    }

  }

}
