.header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  // outline: 1px solid rgba(#fff, 0.2);

  $height: 50px;
  height: $height;
  line-height: $height;

  background: $c_hd;
  // background: rgba(#000, 0.1); //#1F1F1F;

  .logo {
    float: left;
    width: 200px;
    margin: 0 0 10px 0;

    a {
      display: block;

      // background: #11171C;
      color: $c_fg;

      text-decoration: none;

      text-transform: uppercase;
      font-family: 'proxima-nova-soft', sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: $height;
      text-align: center;
      border-bottom: 1px solid rgba(#fff, 0.07);

      &:hover {
        color: $c_hl;
      }
    }
  }

  .categories {
    float: left;
    margin-left: 40px;
  }

  .profile {
    float: right;
    margin-right: 20px;
  }

  .search {
    float: right;
    margin-right: 20px;

    input {
      $s_height: 30px;

      display: block;
      float: left;

      width: 200px;

      border-radius: $s_height;
      height: $s_height;
      line-height: $s_height;

      padding: 0 10px;
      margin-top: ($height - $s_height) / 2;

      background: #000;
      color: #fff;

      font-size: $font-normal;

      // border: 1px solid #3498db;
      border: 0;
      outline: 0;

    }

    ::placeholder {
      font-style: italic;
      color: $c_fr;
    }

    button {
      background: none;
      border: none;
      color: rgba($c_fg, 0.3);
      margin-left: -35px;
      margin-top: -5px;
      outline: 0;

      &:hover {
        color: rgba($c_fg, 0.7);
      }
    }
  }

  .nav {
    float: left;

    > div {
      float: left;
      margin: 0 10px;
    }

    .text {
      a {
        font-size: $font-large;
        color: lighten(#fff, 30);
        text-decoration: none;

        display: inline-block;
        @extend %truncate;
        max-width: 200px;
        vertical-align: top;

        &:hover {
          color: $c_fr;
        }
      }
    }
  }
}
