body {
  background: url('./debut_dark.png') fixed;
  // background: #1F1F1F;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.route-container {
  margin-left: 200px;
  margin-top: 50px;
  padding: 40px;
}

.app-route-enter {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.app-route-enter.app-route-enter-active {
  opacity: 1;
}

.app-route-leave {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.app-route-leave.app-route-leave-active {
  opacity: 0.01;
}
