.route-season {
  position: relative;

  .title-container {
    h1 {
      margin-top: -45px;
    }
  }

  .episode {
    float: left;
    width: 249px;
    text-decoration: none;

    margin: 20px 20px 0 0;

    .poster {
      @include poster(249px, 225/400);
    }
  }
}
