.show-row {

  overflow-x: hidden;
  margin-left: -40px;
  margin-right: -40px;
  padding-top: 40px;
  margin-top: -40px;

  .shows {
    @include cf();
    transition: transform 0.15s ease;
    padding-left: 40px;
  }

  .buttons {
    float: right;
    margin-top: -40px;
    padding-right: 40px;

    button {
      background: none;
      color: rgba($c_fg, 0.3);
      border: 0;
      outline: 0;
      cursor: pointer;

      &:hover {
        color: rgba($c_fg, 0.7);
      }

      &:active {
        color: rgba($c_fg, 0.9);
      }

      font-size: 25px;
      width: 30px;
      text-align: center;
      padding: 0;
    }
  }

  .show-item {
    float: left;
    margin: 0 20px 0 0;
  }

}
