.show-header {
    $height: 50px;

    position: fixed;
    top: 51px;
    left: 200px;
    right: 0;
    height: $height;

    line-height: $height;
    padding: 0 20px;

    z-index: 9;

    background: rgba(#fff, 0.98);
    box-shadow: 0 2px 14px rgba(#000, 0.1);
    
    .active-item {
      float: left;

      a {
        font-size: 14px;
        color: lighten(#000, 30);
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }

    .dropdown {
      float: left;
      margin-left: 50px;
      position: relative;

      & > a {
        text-decoration: none;
        color: lighten(#000, 30);
        font-size: 14px;

        &:hover {
          color: #000;
        }
      }

      .icon {
        font-size: 12px;

        &:before {
          color: lighten(#000, 70);
        }

        cursor: pointer;

        padding-left: 10px;
        border-left: 1px solid lighten(#000, 70);
        margin-left: 10px;

        &:hover + ul {
          display: block;
        }
      }

      ul {
        @extend %dropdown;
        right: 0;
      }
    }
}
