.route-shows {

  header {
    $height: 50px;

    position: fixed;
    top: 51px;
    left: 200px;
    right: 0;
    height: $height;

    line-height: $height;
    padding: 0 20px;

    z-index: 9;

    background: rgba(#fff, 0.98);
    box-shadow: 0 2px 14px rgba(#000, 0.1);

    .categories {
      float: left;
      position: relative;

      p {
        margin: 0;
      }

      &:hover {
        .dropdown {
          display: block;
        }
      }
      .dropdown {
        @extend %dropdown;
        left: 0;
        min-width: 130px;
      }
    }

    .sort {
      float: right;
      position: relative;

      p {
        margin: 0;
      }

      &:hover {
        .dropdown {
          display: block;
        }
      }
      .dropdown {
        @extend %dropdown;
        right: 0;
      }
      a {
        cursor: pointer;
      }
    }
  }

  .list {
    padding-top: 50px;
  }

  .show {

    display: block;
    float: left;

    $width: 150px;
    $height: $width * 200 / 136;

    width: $width;
    margin: 10px;

    text-decoration: none;

    .poster {
      position: relative;

      background-position: center;
      background-size: cover;

      width: $width;
      height: $height;


      box-shadow:
        inset 0 0 0 1px rgba(#000, 0.15),
        0 1px 5px 0 rgba(#000, 0.10);
    }

    h3 {
      $height: 20px;

      display: block;
      height: $height;
      line-height: $height;

      @extend %truncate;

      color: #000;
      font-size: 13px;
      font-weight: 500;
      margin: 5px 0 0;
    }

    p {
      $height: 20px;

      display: block;
      height: $height;
      line-height: $height;

      @extend %truncate;

      font-size: 12px;
      color: lighten(#000, 30);
      margin: 0;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      background: linear-gradient(to bottom, transparent 30%, #000 100%);
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
    }

  }
}
