.route-show {

  .contents {
    position: relative;
  }

  .title-container {
    position: absolute;
    top: 50 + 100px;
    left: 0;
    right: 0;
    padding: 14px 40px 40px 370px;

    h1 {
      float: left;
      max-width: 70%;
      @extend %truncate;
      margin: 0;
      line-height: 1.5;
      font-size: 30px;
      font-weight: 400;
    }
    h2 {
      float: right;
      max-width: 30%;
      @extend %truncate;
      margin: 0;
      line-height: 1.5;
      font-size: 28px;
      font-weight: 400;
      color: lighten(#000, 20);
    }
  }

  .metadata-container {
    position: absolute;
    top: 50 + 100 + 60px;
    right: 0;
    left: 0;
    min-height: 80%;
    padding: 14px 40px 40px 370px;

    background: linear-gradient(to bottom, rgba(#fff, 0.6) 0%, rgba(#fff, 0) 100%);

    .show-details {
      min-height: 300px;
      margin-bottom: 40px;

      .categories {
        float: right;

        ul {
          padding: 0;
          margin: 0;
        }

        li {
          list-style-type: none;
          float: left;

          &:after {
            content: ",";
            margin-right: 5px;
          }

          &:last-child:after {
            content: "";
          }
        }

        a {
          text-decoration: none;
          color: lighten(#000, 30);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .runtime {
        margin-right: 20px;
      }

      .rating {
        span {
          font-size: 20px;
          margin-left: -5px;
        }
      }

      .parental-rating {
        margin-left: 20px;
      }

      .plot {
        font-size: 15px;
        line-height: 23px;
      }

    }
    
    .season-list {
      margin-left: -340px;
    }
  }

  .poster-container {

    position: absolute;
    top: 50 + 40px;
    left: 40px;

    .poster {
      position: relative;
      @include poster(300px, 200/136);
      float: left;
    }
  }


  .seasons {
    @include cf();
    z-index: 5;
  }

  .season {
    float: left;
    margin: 10px;

    text-decoration: none;

    .poster {
      @include poster(130px, 200/136);
    }

    h3 {
      font-size: 15px;
      @extend %truncate;
      color: #000;
      margin: 0;
      height: 25px;
      line-height: 1.5;
      margin-top: 10px;
      font-weight: 500;
    }

    p {
      font-size: 12px;
      @extend %truncate;
      color: lighten(#000, 30);
      margin: -2px 0 0;
      line-height: 1.5;
    }

  }

}
