.route-show {
  position: relative;

  .title-container {
    padding-left: 330px;
  }

  .metadata-container {
    padding-left: 370px;

    .show-details {
      min-height: 276px;

      .categories {
        float: right;

        li {
          list-style-type: none;
          float: left;

          &:after {
            content: ",";
            margin-right: 5px;
            color: $c_fr;
          }

          &:last-child:after {
            content: "";
          }
        }

        a {
          text-decoration: none;
          color: $c_fr;
          padding-bottom: 2px;

          &:hover {
            border-bottom: 1px solid $c_fr;
          }
        }
      }
    }
    
    .season-list {
      margin-left: -340px;
    }
  }

  .poster-container {
    top: 40px;

    .poster {
      @include poster(300px, 1000/680);
    }
  }


  .seasons {
    @include cf();
    z-index: 5;
  }

  .season {
    float: left;
    margin: 10px;

    text-decoration: none;

    .poster {
      @include poster(150px, 578/400);
    }

  }

}
