.show-list {

  margin-right: -60px;

  .show-item {
    float: left;
  }

  .sort {
    float: right;
    position: relative;


    margin-right: 60px;
    margin-top: -50px;


    .dropdown {
      @extend %dropdown;
      right: 0;
    }
  }


  .shows {
    @include cf();
  }
}
