.sidebar {
  $tab_height: 40px;

  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 8;

  background: linear-gradient(to left, rgba(#000, 0.4), rgba(#000, 0.35)), url('./debut_dark.png');
  color: $c_fg;

  ul {
    margin: 15px;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: 2px;

    &.active a {
      // background: #1C242B;
      // background: #2F2F2F;
      background: rgba($c_fg, 0.05);
    }
  }

  a {
    display: block;

    font-weight: bold;
    font-size: $font-normal;
    line-height: $tab_height;
    border-radius: 4px;
    padding: 0 10px;

    color: $c_fg;
    text-decoration: none;

    &:hover {
      background: rgba($c_fg, 0.02);
    }
  }

  .icon {
    font-size: 16px;
    color: $c_hl;
    margin-right: 8px;
  }

  hr {
    background: rgba($c_bg, 0.3);
    border: 0;
    height: 1px;
    border-bottom: 1px solid rgba($c_fg, 0.1);
    margin: 15px;
  }

  .categories {

    li {
    }

    a {
      $height: 25px;
      line-height: $height;
    }

  }

}
